always-auth=true
package-lock=false
registry=https://gitlab.awx.im/api/v4/projects/3003/packages/npm/
@airwallex:registry=https://gitlab.awx.im/api/v4/projects/3003/packages/npm/

package-lock=false
//gitlab.awx.im/api/v4/projects/3003/packages/npm/:_authToken=${GITLAB_API_ACCESS_TOKEN}